ion-content {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    --background: url("/assets/2 -gdje zive.jpg") no-repeat center center/100% 100%;  
    --overflow: hidden;
  }

  img {
    max-width: none;
  }


  .toggleBtn {
    font-size: 2rem;
    --background:  transparent;
    --box-shadow: none;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .musicBtn {
    --background: #93dce8;
  }

  .nextBtn,
  .infoBtn {
    --background: transparent;
    --box-shadow: none;
    display: flex;
    height: 15vmin;
  }


  .img-container {
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    transition: left 0.5s ease-in-out;
    width: 20%;
    height: 100vh;
    object-fit: contain;
    overflow-y: auto;
    background-color: #ffffff;
    border-right: 10px solid #95dbe8;
    padding: 1rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: none;
  }

  .infoBtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  
  .img-container.show {
    left: 0px;
  }
  
  .img-container img {
    //width: 100vmin;
    //height: 100%;
    touch-action: none;
    transition: opacity 0.2s ease;
  }

  img[data-dragging] {
    z-index: 1000;
    pointer-events: none;
  }

  .draggable-img {
    width: 30vmin;
    height: 30vmin;
  }

  /*.dropped-image {
    height: 40vmin;
  }*/

  .dropped-image-1,
  .dropped-image-2,
  .dropped-image-3 {
  height: 80vmin;
}

  .dropped-image-4 {
    height: 30vmin;
  }

  
  .drop-zone {
    height: 20vmin;
    width: 20vmin;
    position: fixed;
    left: 65%;
    top: 25%;
    background-color: rgba(210, 206, 206, 0.552);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .drop-zone.highlight {
    border: 2px dashed #4caf50;
  }

  .drop-zone.show {
    left: auto;
    right: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}


  .dropped {
    background-color: transparent;
}

  .drop-zone1 {
    left: 65.5%;
    top: 30%;
  }

  .drop-zone2 {
    left: 53%;
    top: 30%;
  }

  .drop-zone3 {
    left: 50%;
    top: 40%;
  }

  .drop-zone4 {
    left: 26.5%;
    top: 75%;
    z-index: -999;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    position: absolute;
    top: -6%;
    left: 50%;
    transform: translate(-50%, -10%);
    max-height: 105vmin;
  }

  .info-text {
    background-color: white;
    border: 10px solid #95dbe8;
    padding: 1rem;
    line-height: 1.5;
    max-height: 90vmin;
    overflow-y: auto;
  }

  h1 {
    color: white;
    font-family: "Bagel Fat One", system-ui;
    font-size: 3rem;
    text-shadow: 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8;
  }

  p {
    font-size: 0.8rem;
    color: rgb(46, 46, 46);
    line-height: 1.5;
  }

  .nextBtnText,
  .toggleBtnText {
    color: white;
    font-family: "Bagel Fat One", system-ui;
    text-shadow: 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8;
    font-size: 3rem;
  }
  
  .info-container.show {
    right: 0px;
  }

  .error-image {
    height: 20vmin;
    width: 20vmin;
    position: absolute;
    left: 50%;
    top: 0;
  }
