<ion-content [fullscreen]="true">
  <ion-button (click)="toggleMusic()" class="musicBtn">
    <ion-icon *ngIf="backgroundMusic?.paused" name="play"></ion-icon>
    <ion-icon *ngIf="!backgroundMusic?.paused" name="pause"></ion-icon>
  </ion-button>
  

  <ion-button *ngIf="!puzzleComplete" (click)="toggleImage()" class="toggleBtn">
    <p class="toggleBtnText">KLIKNI</p>
  </ion-button>

  <div class="infoBtn-container" *ngIf="puzzleComplete">
    <ion-button (click)="toggleInfo()" class="infoBtn">
    <p class="toggleBtnText">INFO</p>
  </ion-button>

  <ion-button class="nextBtn" (click)="nextPage()">
    <p class="nextBtnText" (click)="nextPage()">NASTAVI</p>
  </ion-button>
  </div>

  <!-- Image Container with draggable images -->
  <div id="img-container" class="img-container" [class.show]="showImage">
    <img *ngIf="!droppedImages.drvo" src="assets/drvo.png" alt="drvo" 
          id="drvo" 
          class="draggable-img"
          (touchstart)="touchStart($event, 'drvo')"
          (touchmove)="touchMove($event)"
          (touchend)="touchEnd($event, 'drvo')">
  </div>

  <!-- Drop Zones -->
<div id="drop-drvo" class="drop-zone drop-zone1" (touchend)="touchEnd($event, 'drvo')">
  <img *ngIf="droppedImages.drvo" src="assets/drvo.png" alt="drvo" class="dropped-image-1">
</div>

  <!-- Info container after successful drop -->
  <div class="info-container" *ngIf="showInfo">
    <h1>INFO</h1>
    <div class="info-text">
      <p>
        Dabrovi imaju snažan utjecaj na okoliš u kojem žive. Gradnjom brana usporavaju tokove rijeka i potoka, čime stvaraju močvarna staništa koja
        pogoduju brojnim biljnim i životinjskim vrstama. Ta nova staništa povećavaju biološku raznolikost područja. Osim toga, zadržavanjem vode
        pomažu u sprječavanju suša i erozije tla. S druge strane, njihova aktivnost ponekad može izazvati poplave na poljoprivrednim površinama ili
        promijeniti prirodni tok vode, što može biti izazov za ljude. Unatoč tome, dabrovi se smatraju ključnim vrstama u ekosustavu jer svojim 
        djelovanjem oblikuju i obogaćuju prirodnu sredinu.
      </p>
    </div>
    
  </div>

 <!---<img *ngIf="showError" src="assets/wrong.png" alt="Error" class="error-image" class="error-image">-->

</ion-content>
