<ion-content [fullscreen]="true">
  <ion-button (click)="toggleMusic()" class="musicBtn">
    <ion-icon *ngIf="backgroundMusic?.paused" name="play"></ion-icon>
    <ion-icon *ngIf="!backgroundMusic?.paused" name="pause"></ion-icon>
  </ion-button>
  

  <ion-button (click)="toggleImage()" class="toggleBtn">
    <p class="toggleBtnText">KLIKNI</p>
  </ion-button>

  <!-- Image Container with draggable images -->
  <div id="img-container" class="img-container" [class.show]="showImage">
    <img *ngIf="!droppedImages.damm" src="assets/damm.png" alt="damm" 
          id="damm" 
          class="draggable-img"
          (touchstart)="touchStart($event, 'damm')"
          (touchmove)="touchMove($event)"
          (touchend)="touchEnd($event, 'damm')">
  </div>

  <!-- Drop Zones -->
<div id="drop-damm" class="drop-zone drop-zone1" (touchend)="touchEnd($event, 'damm')">
  <img *ngIf="droppedImages.damm" src="assets/damm.png" alt="damm" class="dropped-image-1">
</div>

  <!-- Info container after successful drop -->
  <div class="info-container" *ngIf="showInfo">
    <h1>INFO</h1>
    <div class="info-text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quam repudiandae consequatur iure nobis voluptatum, repellat temporibus vitae dolore voluptas quis magni totam aperiam placeat. Cumque nobis sapiente facilis quae!
        Adipisci, voluptatum labore dicta fugiat libero excepturi provident voluptas error omnis vitae voluptatibus impedit tenetur laboriosam tempore aperiam, sed similique repellat quidem. Laborum alias itaque non minus cupiditate eos sequi.
      </p>
      <ion-button class="nextBtn" (click)="nextPage()">
        <p class="nextBtnText" (click)="nextPage()">NASTAVI</p>
      </ion-button>
    </div>
    
  </div>

 <!---<img *ngIf="showError" src="assets/wrong.png" alt="Error" class="error-image" class="error-image">-->

</ion-content>
