<ion-content [fullscreen]="true">
  <ion-button (click)="toggleMusic()" class="musicBtn">
    <ion-icon *ngIf="backgroundMusic?.paused" name="play"></ion-icon>
    <ion-icon *ngIf="!backgroundMusic?.paused" name="pause"></ion-icon>
  </ion-button>
  

  <ion-button *ngIf="!puzzleComplete" (click)="toggleImage()" class="toggleBtn">
    <p class="toggleBtnText">KLIKNI</p>
  </ion-button>

  <div class="infoBtn-container" *ngIf="puzzleComplete">
    <ion-button (click)="toggleInfo()" class="infoBtn">
    <p class="toggleBtnText">INFO</p>
  </ion-button>

  <ion-button class="nextBtn" (click)="nextPage()">
    <p class="nextBtnText" (click)="nextPage()">NASTAVI</p>
  </ion-button>
  </div>

  <!-- Image Container with draggable images -->
  <div id="img-container" class="img-container" [class.show]="showImage">
    <img *ngIf="!droppedImages.damm" src="assets/damm.png" alt="damm" 
          id="damm" 
          class="draggable-img"
          (touchstart)="touchStart($event, 'damm')"
          (touchmove)="touchMove($event)"
          (touchend)="touchEnd($event, 'damm')">
  </div>

  <!-- Drop Zones -->
<div id="drop-damm" class="drop-zone drop-zone1" (touchend)="touchEnd($event, 'damm')">
  <img *ngIf="droppedImages.damm" src="assets/damm.png" alt="damm" class="dropped-image-1">
</div>

  <!-- Info container after successful drop -->
  <div class="info-container" *ngIf="showInfo">
    <h1>INFO</h1>
    <div class="info-text">
      <p>
        Dabrovi su poznati po svojoj iznimnoj sposobnosti gradnje. Žive uz rijeke, potoke i jezera, gdje grade brane i brloge. 
        Brane izrađuju od granja, blata i kamenja kako bi usporili tok vode i stvorili jezerca koja im pružaju zaštitu i lakši pristup hrani 
        tijekom cijele godine. Njihovi brlozi, smješteni najčešće usred vode, imaju ulaz ispod površine, što ih dodatno štiti od grabežljivaca.
        Svojim građevinama dabrovi često mijenjaju okolni ekosustav.
      </p>
    </div>
    
  </div>

 <!---<img *ngIf="showError" src="assets/wrong.png" alt="Error" class="error-image" class="error-image">-->

</ion-content>
