ion-content {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    --background: url("/assets/1 - obitelj, upoznavanje.jpg") no-repeat center center/cover;
  }

  .toggleBtn {
    //width: 15%;
    //--border-radius: 50%;
    font-size: 2rem;
    --background:  #a34a2a;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .nextBtn {
    font-size: 2rem;
    --background:  #a34a2a;
    --color: white;
  }


  .img-container {
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    transition: left 0.5s ease-in-out;
    width: 30%;
    height: 100%;
    background-color: #a3622a;
    padding: 1rem;
  }
  
  .img-container.show {
    left: 0px;
  }
  
  img {
    width: 50%;
    height: auto;
  }
  
  .drop-zone {
    height: 20vmin;
    width: 20vmin;
    position: relative;
    left: 65%;
    top: 25%;
  }
  
  .drop-zone.show {
    right: 0px;
  }

  .info-container {
    background-color: #8e8f92;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  
  .info-container.show {
    right: 0px;
  }
