ion-content {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  --background: url("/assets/home screen.jpg") no-repeat center/100% 100%;
}

.musicBtn {
  --background: #93dce8;
}

h1 {
  font-size: 5.5rem;
  font-family: "Bagel Fat One", system-ui;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  position: relative;
  top: -15%;
  background: linear-gradient(0deg, rgba(103, 51, 4, 1) 0%, rgba(161, 96, 40, 1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 5px white;
  letter-spacing: -4px;
  margin: 0 3rem;
}

ion-card {
  width: 60%;
  height: 10vmin;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  background-clip: text;
  -webkit-text-stroke: 3px #93dce8;
  box-shadow: none;
  color: white;
  font-family: "Bagel Fat One", system-ui;
  letter-spacing: 2px;
  padding: 1.5rem 0;
  position: relative;
  left: 85vmin;
  top: 35vmin;
}

.card-image {
  width: 10%;
  padding-top: 1rem;
  background-color: #7f460d;
  position: relative;
  right: 0.5rem;
}

@keyframes pulse {
  0% {
     transform: scale(1);
  }
  50% {
     transform: scale(0.9);
  }
  100% {
      transform: scale(1);
  }
}


p {
  font-size: 3rem;
  text-indent: 0.8rem;
  position: relative;
  top: 3px;
  font-weight: bold;
  animation: pulse 3s ease-in-out infinite both;
  color: white;
    font-family: "Bagel Fat One", system-ui;
    text-shadow: 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8, 
    0px 0px 10px #93dce8;
    font-size: 3rem;
}

//media querries
@media (max-width: 770px) {
  ion-card {
    left: 38%;
    top: 29%;
  }
}

@media (max-width: 810px) {
  ion-card {
    left: 38%;
    top: 29%;
  }
}

@media (max-width: 855px) {
  ion-card {
    left: 35%;
  }
}

@media (min-width: 1080px) {
  h1 {
    top: 0%;
    font-size: 8rem;
  }
  ion-card {
    left: 40%;
    top: 60%;
  }
}

