.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;       
}

img {
    height: 40vmin;
    width: 40vmin;
}

ion-card {
    width: 60%;
    height: 10vmin;
    margin: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #a3622a;
    color: white;
    padding: 1.5rem 0;
  }
  
  .card-image {
    width: 20vmin;
    height: 30vmin;
    //padding-top: 1rem;
    background-color: #7f460d;
    position: relative;
    right: 0.5rem;
    top: 1rem;
  }

  p {
    font-size: 1.4rem;
    text-indent: 0.8rem;
    position: relative;
    top: 3px;
  }
