<ion-content [fullscreen]="true">
  <div class="container">
    <ion-button (click)="toggleMusic()" class="musicBtn">
    <ion-icon *ngIf="backgroundMusic?.paused" name="play"></ion-icon>
    <ion-icon *ngIf="!backgroundMusic?.paused" name="pause"></ion-icon>
  </ion-button>

  <div class="btn-container">
    <ion-button (click)="startGame()" class="startBtn">
      <p>
        IGRAJ PONOVNO
      </p>
  </ion-button>

  <ion-button (click)="exit()" class="exitBtn">
      <p>
        IZAĐI IZ IGRE
      </p>
  </ion-button>
  </div>
  
  
  </div>
</ion-content>
