<ion-content [fullscreen]="true">
  <div class="container">
    <img src="assets/dabar.jpg" alt="dabar">
  <h1>Hvala vam na igranju</h1>
  <ion-card (click)="startGame()">
    <ng-container>
      <img src="assets/menu.png" alt="menu icon" class="card-image">
      <p>
        IGRAJ PONOVNO
      </p>
    </ng-container>
  </ion-card>

  <ion-card (click)="exit()">
    <ng-container>
      <img src="assets/menu.png" alt="menu icon" class="card-image">
      <p>
        IZAĐI IZ IGRE
      </p>
    </ng-container>
  </ion-card>
  
  </div>
</ion-content>
