<ion-content [fullscreen]="true">
  <ion-button (click)="toggleMusic()" class="musicBtn">
    <ion-icon *ngIf="backgroundMusic?.paused" name="play"></ion-icon>
    <ion-icon *ngIf="!backgroundMusic?.paused" name="pause"></ion-icon>
  </ion-button>
  

  <ion-button *ngIf="!puzzleComplete" (click)="toggleImage()" class="toggleBtn">
    <p class="toggleBtnText">KLIKNI</p>
  </ion-button>

  <div class="infoBtn-container" *ngIf="puzzleComplete">
    <ion-button (click)="toggleInfo()" class="infoBtn">
    <p class="toggleBtnText">INFO</p>
  </ion-button>

  <ion-button class="nextBtn" (click)="nextPage()">
    <p class="nextBtnText" (click)="nextPage()">NASTAVI</p>
  </ion-button>
  </div>

  <!-- Image Container with draggable images -->
  <div id="img-container" class="img-container" [class.show]="showImage">
    <img *ngIf="!droppedImages.mreza1" src="assets/mreza 1.png" alt="mreza1" 
          id="mreza1" 
          class="draggable-img"
          (touchstart)="touchStart($event, 'mreza1')"
          (touchmove)="touchMove($event)"
          (touchend)="touchEnd($event, 'mreza1')">
    <img *ngIf="!droppedImages.mreza2" src="assets/mreza 2.png" alt="mreza2"
          id="mreza2" 
          class="draggable-img"
          (touchstart)="touchStart($event, 'mreza2')"
          (touchmove)="touchMove($event)"
          (touchend)="touchEnd($event, 'mreza2')">
    <img *ngIf="!droppedImages.mreza3" src="assets/mreza 3.png" alt="mreza3"
          id="mreza3"
          class="draggable-img" 
          (touchstart)="touchStart($event, 'mreza3')"
          (touchmove)="touchMove($event)"
          (touchend)="touchEnd($event, 'mreza3')">
    <img *ngIf="!droppedImages.mreza4" src="assets/mreza 4.png" alt="mreza4"
          id="mreza4"
          class="draggable-img" 
          (touchstart)="touchStart($event, 'mreza4')"
          (touchmove)="touchMove($event)"
          (touchend)="touchEnd($event, 'mreza4')">
    <img *ngIf="!droppedImages.mreza5" src="assets/mreza 5.png" alt="mreza5"
          id="mreza5"
          class="draggable-img" 
          (touchstart)="touchStart($event, 'mreza5')"
          (touchmove)="touchMove($event)"
          (touchend)="touchEnd($event, 'mreza5')">
    <img *ngIf="!droppedImages.mreza6" src="assets/mreza 6.png" alt="mreza6"
          id="mreza6"
          class="draggable-img" 
          (touchstart)="touchStart($event, 'mreza6')"
          (touchmove)="touchMove($event)"
          (touchend)="touchEnd($event, 'mreza6')">
  </div>

  <!-- Drop Zones -->
<div id="drop-mreza1" class="drop-zone drop-zone1" (touchend)="touchEnd($event, 'mreza1')">
  <img *ngIf="droppedImages.mreza1" src="assets/mreza 1.png" alt="mreza 1" class="dropped-image-1">
</div>
<div id="drop-mreza2" class="drop-zone drop-zone2" (touchend)="touchEnd($event, 'mreza2')">
  <img *ngIf="droppedImages.mreza2" src="assets/mreza 2.png" alt="mreza 2" class="dropped-image-2">
</div>
<div id="drop-mreza3" class="drop-zone drop-zone3" (touchend)="touchEnd($event, 'mreza3')">
  <img *ngIf="droppedImages.mreza3" src="assets/mreza 3.png" alt="mreza 3" class="dropped-image-3">
</div>
<div id="drop-mreza4" class="drop-zone drop-zone4" (touchend)="touchEnd($event, 'mreza4')">
  <img *ngIf="droppedImages.mreza4" src="assets/mreza 4.png" alt="mreza 4" class="dropped-image-4">
</div>
<div id="drop-mreza5" class="drop-zone drop-zone5" (touchend)="touchEnd($event, 'mreza5')">
  <img *ngIf="droppedImages.mreza5" src="assets/mreza 5.png" alt="mreza 5" class="dropped-image-5">
</div>
<div id="drop-mreza6" class="drop-zone drop-zone6" (touchend)="touchEnd($event, 'mreza6')">
  <img *ngIf="droppedImages.mreza6" src="assets/mreza 6.png" alt="mreza 6" class="dropped-image-6">
</div>

  <!-- Info container after successful drop -->
  <div class="info-container" *ngIf="showInfo">
    <h1>INFO</h1>
    <div class="info-text">
      <p>
        Zaštita od dabrova ponekad je potrebna tamo gdje njihove aktivnosti uzrokuju štetu, poput poplava na poljoprivrednim površinama ili 
        oštećenja usjeva i drveća. Najčešće mjere zaštite uključuju postavljanje zaštitnih mreža oko stabala, izgradnju odvoda za kontrolu razine
        vode i upotrebu posebnih uređaja koji sprječavaju gradnju brana na osjetljivim mjestima. U mnogim zemljama dabrovi su zaštićena vrsta,
        pa se mjere kontrole provode na način koji ne ugrožava njihovu populaciju, već usklađuje suživot ljudi i prirode.
      </p>
    </div>
    
  </div>

 <!---<img *ngIf="showError" src="assets/wrong.png" alt="Error" class="error-image" class="error-image">-->

</ion-content>
